// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* posts/index(投稿一覧) ============================================== */

.posts {
	background-color: rgb(44, 180, 173);
}

.posts-index-item {
	padding: 20px 30px;
	background-color: white;
	margin-bottom: 8px;
	overflow: hidden;
	box-shadow: 0 2px 6px #c1ced7; 

	a {
		color: black;
	}
}

.post-left {
	float: left;
	width: 10%;

	img {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		box-shadow: 0 2px 6px #c1ced7;
		object-fit: cover;
	}
}	

.post-right {
	float: left;
	width: 90%;
	padding-left: 25px;
	padding-bottom: 8px;

	a {
		color: black;
	}

	.post-user-name {
		font-weight: 600;
		margin-bottom: 10px;
		float: left;
	}

	.user-account {
		padding-left: 10px;
  		font-size: 15px;
  		color: #606060;
  	}

  	.post-content {
  		display:inline-block;
  		width: 100%;
  		text-align: left;
  	}
}



.post-bottom-right {
	text-align: right;
}

.post-bottom-left {
	clear: both;
	padding-left: 14.5%;
}

.like-btn {
	color: gray;
}

.like-btn-unlike {
	color: pink;
}


.form {
	background-color: white;
	max-width: 600px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	box-shadow: 0 2px 6px #c1ced7; 

	textarea {
		min-height: 140px;
		width: 100%;
		resize: none;
		font-size: 20px;
		font-family: sans-serif;
	}
}

.posts-show {
	padding-top: 80px;
}
.posts-show-item {
	max-width: 600px;
	padding: 50px;
	background-color: white;
	overflow: hidden;
	box-shadow: 0 2px 6px #c1ced7;
	text-align: left;

	p {
		margin: 20px 0;
		font-size: 22px;
	}

	img {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		box-shadow: 0 2px 6px #c1ced7;
		vertical-align: middle;
		object-fit: cover;
	}

	.post-user-name {
		font-size: 20px;

		a {
			vertical-align: middle;
			/* padding-left: 10px; */
			color: black;
		}

		li {
			padding-left: 10px;
		}
	}

	ul {
		display: inline-block;
		vertical-align: middle;
	}

	.user-account {
		padding-left: 10px;
		font-size: 17px;
	  	color: #606060;
	}
}

.post-time {
	color: gray;
}

.post-menus {
	float: right;

	a {
		color: gray;
	}
	
}
